@charset "utf-8";
@import "normalize";
@import "bourbon";
@import "base/base";
@import "neat";
@import "variables";

.img {
  max-width: 100%;
}

.container {
  @include outer-container;
  padding: 0 10px;
}

.logo-container {
  margin: 40px 0 60px;
  text-align: center;
}

.main-nav {
  text-align: center;
  margin-bottom: 60px;

  li {
    display: inline;
    margin: 0 20px;
  }
}

.content {
  @include span-columns(8 of 12);
  padding: 0 60px;

  @include media($medium-screen-up) {
    @include span-columns(4);
    padding: 15px;
  }
}

.sidebar {
  @include span-columns(4 of 12);

  @include media($medium-screen-up) {
    @include span-columns(4);
  }
}
