<nav class="main-nav">
  <ul>
    <li><%= link_to "One", "#" %></li>
    <li><%= link_to "Two", "#" %></li>
    <li><%= link_to "Three", "#" %></li>
    <li><%= link_to "Four", "#" %></li>
  </ul>
</nav>
