<div class="social-icons">
  <ul>
    <% data.social_icons.each do |social_icon| %>
      <li>
        <% link_to social_icon["link"], target: "blank" do %>
          <i class="fa <%= social_icon["icon"] %> fa-3x"></i>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
